*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}
body{
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    color: snow;
}
body > div:nth-child(1){
    background-color: rgb(70, 174, 206);
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding:0 1%;
    padding-top: 1%;
    border: 5px solid rgb(17, 126, 160);
}
body > div:nth-child(2){
    background-color: rgb(70, 174, 206);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding:0 1%;
    border: 5px solid rgb(17, 126, 160);
}
div div{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
label{
    display: block;
    padding: 2% 0;
    width: 50%;
    font-size: 1.5em;
}
input{
    width: 50%;
    height: 5%;
    padding-left: auto;
}
button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgb(6, 82, 105);
    color: snow;
}
p{
    font-size: 1.2em;
    text-align: center;
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
}